<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--
	
	  Creating compiled C# file
	  To use this file filled with your information
	  Then delete this node or set value to 0 -->
  <is_example>0</is_example>
  <!--
	
	  Set your Company name
	  Using in final binary file name
	  This value could be empty -->
  <company_name>LEMEX</company_name>
  <!--
	
	  Set your program Copyright -->
  <copyright>Maxim Hegel © 2024</copyright>
  <!--
	
	  Set your Program name
	  This value could be empty
	  If empty then ProgramName = Project Folder Name -->
  <project_name>BackupFiles</project_name>
  <project_title>Backup Files</project_title>
  <!--
	
	  Set your program Description -->
  <description>Simple Backup of Project Files</description>
  <!--
	  
	  Set your program Version
	  Major revision (new UI, lots of new features, conceptual change, etc.) -->
  <major_version>1</major_version>
  <!--
	  
	  Minor revision (maybe a change to a search box, 1 feature added, collection of bug fixes) -->
  <minor_version>0</minor_version>
  <!--
	  
	  Set Configuration: "Debug" or "Release" -->
  <build_configuration>Release</build_configuration>
  <!--
	  
	  Set type of deployment: exe/winexe/dll -->
  <build_target>exe</build_target>
  <!--
	  
	  Set list of folders, where current program could find referenced libraries
	  Default is 'lib' -->
  <lib_folders>lib,src</lib_folders>
  <!--
	  
	  set Icon file from project folder if param value is empty -->
  <icon_file_path>.\res\icon.ico</icon_file_path>
  <!--
	  
	  Get all .res files from project folder
	  Set here Resourse files outside project folder -->
  <resource_files>
    <!-- Example
	  <item>..\..\DifferentProject\MyApplication.res</item>
	-->
  </resource_files>
  <!--
	  
	  Get all .dll files from project folder
	  Set here Reference files outside project folder -->
  <reference_files>
    <!--item>.\lib\Newtonsoft.Json.dll</item-->
    <!-- Example
	  <item>C:\Program Files\Reference Assemblies\Microsoft\Framework\v3.5\System.Core.dll</item>
	  <item>C:\Windows\Microsoft.NET\Framework\v2.0.50727\System.dll</item>
	  <item>D:\MyProjects\OtherProject\bin\Release\OtherProject.dll</item>
	  <item>..\..\DifferentProject\bin\Release\DifferentProject.dll</item>
	-->
  </reference_files>
  <!--
	  
	  Get all .cs files from project folder
	  Set here Source files outside project folder -->
  <source_files>
    <!-- Example
	  <item>D:\MyProjects\OtherProject\src\OtherProject.cs</item>
	  <item>..\..\DifferentProject\src\DifferentProject.cs</item>
	-->
  </source_files>
  <!--
	  
	  DO NOT CHANGE!
	  Bug fix release -->
  <release_version>25</release_version>
  <!--
	  
	  DO NOT CHANGE!
	  Build number -->
  <build_version>25</build_version>
</configuration>